@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #006699;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: #f2f2f2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-bottom: 15px;
}

#wrapper::after {
	content: "";
	display: table;
	clear: both;
}

.taskBox {
	width: 45%;
	margin: 2.5%;
	padding: 15px;
	min-height: 200px;
	background-color: #ff6f6f;
	float: left;
	border-radius: 10px;
	font-family: "Varela Round", sans-serif;
	color: white;
	position: relative;
}

.taskBox .taskText, .taskBox .taskFooter {
	text-align: center;
	line-height: 1.5;
	font-size: 1.1em;
}

.taskBox .taskText {
	margin-top: 10px;
}

.taskBox .taskFooter{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.taskBox .taskFooter .createdAt {
	float: left;
	margin-left: 10px;
}

.taskBox .taskFooter .taskOptions {
	float: right;
	margin-right: 10px;
}

.taskOptions > i:hover {
	cursor: pointer;
}

.taskOptions > i {
	margin-right: 5px;
}

.taskOptions .delete {
	font-size: 1.2em;
}

.infoBar {
	width: 100%;
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;
	font-family: "Varela Round", sans-serif;
	background-color: white;
	z-index: 999;
	color: black;
	border: 1px solid red;
	text-align: center;
	display: none;
}

.infoBar p {
	margin-top: 10px;
}
