@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #006699;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px;
	background-color: #f2f2f2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#wrapper::after {
	content: "";
	display: table;
	clear: both;
}

.box {
	width: 45%;
	margin: 2.5%;
	padding: 15px;
	min-height: 200px;
	background-color: #ff6f6f;
	float: left;
	border-radius: 10px;
	font-family: "Varela Round", sans-serif;
	color: white;
	position: relative;
}

.box .taskText, .box .createdAt {
	text-align: center;
	line-height: 1.5;
	font-size: 1.1em;
}

.box .taskText {
	margin-top: 10px;
}

.box .createdAt{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}